* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-principal: #14d9c4;

}

li {
    display: inline;
}

.header .logo {
    width: 150px;
}

.header .button {
    color: white;
    background-color: var(--color-principal);
    border: none;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 3px;

}

.header .active {
    background-color: white;
    color: black;

}

.main .welcome {
    background-image: url("https://adalab.es/wp-content/uploads/2021/06/Cabecera-Blog-de-Adalab.png");
    background-position: center;
    height: 500px;
    padding-left: 5%;
}

.main .title {
    color: white;
    font-size: 30px;
    width: 50%;
    padding-top: 30%;

}

.main .button {
    color: white;
    background-color: var(--color-principal);
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    text-transform: uppercase;
    border-radius: 3px;
}