
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body{
    background-color: #f3f4f5;
}

h1{
    font-size: 2.4rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 2.0rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    color: #757575;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    color: #757575;

}