html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 150%;
}
a{
    color: red;
}